<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <hello name="{{ name }}"></hello>
    </div>
  </div>
</nav>
<div class="row">
  <div class="column">
    <img src="FILES/src/images/image1.jpg" alt="image1" style="width:100%" />
  </div>
  <div class="column">
    <img src="/FILES/src/images/image2.jpg" alt="image2" style="width:100%" />
  </div>
  <div class="column">
    <img src="../images/image3.jpg" alt="image3" style="width:100%" />
  </div>
</div>
<div></div>
